/*
/*:root { 
 {
    box-sizing: border-box;
}

body {
    font-family: 'El Messiri', 'Bodoni Moda', 'Rubik Mono One', 'Black Hans Sans';
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

font-family:
    
  h1{  "Black Hans Sans"; "Rubik Mono One";
}

h2 { "El Messiri", "Bodoni Moda";
/*


